//* {
//    border: 1px solid red;
//    
//}

@media (max-width: $mobile){
    .container {
        width: 100%;
    }
    .menu {
        li{
            width: 100%;
        }
    }
}
 
@media (min-width: ($mobile + 1px)) and (max-width: ($tablet + 1px)) and (orientation: landscape) {
    .container {
        width: 100%;
//        margin: 0 auto;
    }
    
    .menu {
        li{
            width: 100%;
        }
    }
}
 
@media (min-width: ($tablet + 1px)) {
    .container{
        max-width: 1316px;
        margin: 0 auto;
    } 
}



@media (max-width: $mobile){
    [class*="col-"]{
        width: 100vw;
    } 
    .row::after {
        content: "";
        clear: both;
        display: block;
    }
}

@media (min-width: ($mobile + 1px)) and (max-width: $tablet){
   [class*="col-"]{
        width: 100vw;
    } 
     .row::after {
        content: "";
        clear: both;
        display: block;
    }
}



body {
    font-family: 'Antic', sans-serif;
    background: rgb(100,100,100);
    background: -webkit-linear-gradient(bottom left, rgb(0,0,0), rgb(100,100,100));
    background: -o-linear-gradient(bottom left, rgb(0,0,0), rgb(100,100,100));
    background: -moz-linear-gradient(bottom left, rgb(0,0,0), rgb(100,100,100));
    background: linear-gradient(bottom left, rgb(0,0,0), rgb(100,100,100));

}


.japanese {
    font-family: '07logotypegothic-condenseRg', serif;
}
            

@media (max-width: $mobile){
    .menu{
       .col-1{
          height: 50px;
          float: left;
          list-style: none;
          display: flex;
          justify-content: center;
          a {
            width: 100%;
            display: block;
            text-align: center;
            text-decoration: none;
            font-size: 1.1em;
            color: $menu-color;
            padding: 5px;
            }
        }    
    }  
}

@media (min-width: ($mobile + 1px)) and (max-width: $tablet){
    nav{
        background: rgb(100,100,100);
        background: -webkit-linear-gradient(bottom, rgb(0,0,0), rgb(100,100,100));
        background: -o-linear-gradient(bottom, rgb(0,0,0), rgb(100,100,100));
        background: -moz-linear-gradient(bottom, rgb(0,0,0), rgb(100,100,100));
        background: linear-gradient(bottom, rgb(0,0,0), rgb(100,100,100));
        z-index: 9;
       .menu{
            .col-1{
          height: 50px;
          float: left;
          list-style: none;
          display: flex;
          justify-content: center;
          a {
            width: 100%;
            display: block;
            text-align: center;
            text-decoration: none;
            font-size: 1.5em;
            color: $menu-color;
            padding: 5px;
            }
        }  
    }  
   }
    
}

@media (min-width: ($tablet + 1px)){
    nav {
        background: rgb(100,100,100);
        background: -webkit-linear-gradient(bottom, rgb(0,0,0), rgb(100,100,100));
        background: -o-linear-gradient(bottom, rgb(0,0,0), rgb(100,100,100));
        background: -moz-linear-gradient(bottom, rgb(0,0,0), rgb(100,100,100));
        background: linear-gradient(bottom, rgb(0,0,0), rgb(100,100,100));
//        z-index: 9;
       .menu{
           height: 30px;
           .col-1{
              height: 30px;
              float: left;
              list-style: none;
              display: flex;
              justify-content: space-between;
              a {
                width: 100%;
                display: block;
                text-align: center;
                text-decoration: none;
                font-size: 1.1em;
                color: $menu-color;
                padding: 5px;
                }
            } 
        }
    }
    
}

#home_page {
    width: 100%;
    height: 32px;
    a{
         img {
            display:block;
            margin-left: 6%;
        }   
    }
    
}

@media (max-width: $tablet){
        #home_page {
            width: 100%;
            height: 32px;
            display: flex;
             justify-content: center;

            }
}

@media (min-width: ($tablet + 1px)){
        #home_page {
            width: 100%;
            height: 32px;
            a{
              margin-top: 51px;  
            }
        }
}



.up_foot{
        display: flex;
        justify-content: flex-end;
        .artist_contact {
        float: left;
        height: 50px;
       
        li{
            float: right;
            width: 50px;
            line-height: 50px;
            vertical-align: middle;
            list-style: none;
            color: $menu-color;
            a {
                color: $menu-color;

            }
        }
    }
}

@media (max-width: $tablet) {
    .up_foot{
        display: flex;
        justify-content: center;
    }
}

.up_foot {
    clear: both;
    div {
        width: 100px;
        color: $menu-color;
        line-height: 50px;
        vertical-align: middle;
    }
}

.bottom_foot {
    clear: both;
    div{
        font-size: $font-size;  
        color: grey;
        line-height: 30px;
        vertical-align: middle;
       }
}
.bottom_foot {
    height: 30px;
   .author_contact {
        float: left;
   
        li {
            list-style: none;
            float: right;
            color: grey;
            font-size: 20px;
            width: 20px;
            margin-left: 10px;
            a {
                color: grey;
            }
        }
    } 
}

@media (max-width: $mobile) {
    .bottom_foot {
        display: flex;
        justify-content: center;
    }
}

a:hover:not(.fa) {
    text-decoration: underline!important;
   
}


.sticky {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 100;
    border-top: 0;
}