//* {
//    border: 1px solid red;
//    
//}

@media (max-width:399px){
    .container {
        width: 100%;
    }
    .menu {
        li{
            width: 100%;
        }
    }
}
 
@media (min-width: 400px) and (max-width: 800px) {
    .container {
        width: 100%;
       
    }
    
    .menu {
        li{
            width: 100%;
        }
    }
}
 
@media (min-width: 800px) {
    .container{
        width: 1200px;
        margin: 0 auto;
}
   
}



body {
    font-family: 'Lato', sans-serif;
    background: rgb(100,100,100);
    background: -webkit-linear-gradient(bottom left, rgb(0,0,0), rgb(100,100,100));
    background: -o-linear-gradient(bottom left, rgb(0,0,0), rgb(100,100,100));
    background: -moz-linear-gradient(bottom left, rgb(0,0,0), rgb(100,100,100));
    background: linear-gradient(bottom left, rgb(0,0,0), rgb(100,100,100));
    
}

@media (max-width: 400px){
     .col-1{
      height: 50px;
      float: left;
      list-style: none;
      display: flex;
      justify-content: center;
      a {
        text-decoration: none;
        font-size: 1.1em;
        color: $menu-color;
        padding: 5px;
        }
    }  
}

@media (min-width: 400px) and (max-width: 800px){
    .col-1{
      height: 50px;
      float: left;
      list-style: none;
      display: flex;
      justify-content: center;
      a {
        text-decoration: none;
        font-size: 1.5em;
        color: $menu-color;
        padding: 5px;
        }
    }  
}

@media (min-width: 800px){
  .col-1{
      height: 50px;
      float: left;
      list-style: none;
      display: flex;
      justify-content: center;
      a {
        text-decoration: none;
        font-size: 1.1em;
        color: $menu-color;
        padding: 5px;
        }
    } 
}

.container{
     .slider {
        list-style: none;
        height: 500px;
        width: 100%;
        float: left;
        background-color: 
        li {
            display: none;
            width: 387px;
        }
    }
}


 .chevrons {
    display: flex;
    justify-content: center;
    .fa-chevron-left{
       align-self: flex-start; 
    }
}



.chevrons {
    display: flex;
    justify-content: center;
    .fa-chevron-right{
       align-self: flex-end; 
    }
}


.slider {
    .visible{
        display: inline-block;
    }
}




.img {
    a {
        list-style: none;
        text-decoration: none;   
    }
}


.up_foot{
        display: flex;
        justify-content: flex-end;
        .artist_contact {
        float: left;
        height: 50px;
        li{
            float: right;
            width: 50px;
            line-height: 50px;
            vertical-align: middle;
            list-style: none;
            color: $menu-color;
            a {
                color: $menu-color;

            }
        }
    }
}


.up_foot {
    div {
        width: 100px;
        color: $menu-color;
        line-height: 50px;
        vertical-align: middle;
    }
}

.bottom_foot {
    div{
        font-size: $font-size;  
        color: grey;
        line-height: 30px;
        vertical-align: middle;
       }
}
.bottom_foot {
    height: 30px;
   .author_contact {
        float: left;
   
        li {
            list-style: none;
            float: right;
            color: grey;
            font-size: 20px;
            width: 20px;
            margin-left: 10px;
            a {
                color: grey;
            }
        }
    } 
}
