

.artpiece {
    float: left;
    margin-top: 85px;
}

.item {
    display: flex;
    justify-content: center;
    flex-direction: column;
    .descript {
        padding: 1%;
        margin-top: 85px;
        height: auto;
        color: $menu-color;
        font-size: 1.1em;
        line-height: 1.5em;
        li{
            list-style: none;
        }
    }
    .text {
    padding: 1%;
    color: $menu-color;
    float: left;
        span {
            display:block;
            text-align: right;
        }
        p{
            a{
                color: $link-color;
                text-decoration: none;
            }
        }
    }
}


@media (min-width: ($mobile + 1px)) and (max-width: $tablet) {
    .item {
        display: flex;
        flex-direction: column;
        justify-content: center;
       .descript{
            width: 80%;
            padding-left: 5%;
        }
        .text {
            width: 80%;
            padding-left: 5%;
        } 
    }
}

.media {
    float:left;
    h2 {
      color: $menu-color;
      margin-left: 10%;
      margin-bottom: 2%;
    }
}



figure {
    height: 0;
    padding-bottom: 56.25%;
    position: relative;
    width: 100%;
}

iframe {
    height: 100%;
    width: 100%;
    left: 30%;
    top: 0;
    position: absolute;
}

@media (max-width: $mobile) {
    .media {
        display: flex;
        justify-content: center;
        flex-direction: column;
        h2 {
            font-size: 1.5rem;
        }
        .video {
            height: 200px;
            left: 0;
            iframe {
                height: 100%; 
                 left: 0;            
            }  
        }
    }
}

@media (min-width: $mobile) and (max-width: $tablet) {
    .media {
        display: flex;
        justify-content: center;
        flex-direction: column;
        h2 {
            font-size: 1.5rem;
        }
        .video {
            height: 200px;
            margin: 5%;
            
            iframe {
                height: 100%; 
                 left: 0;       
            }  
        }
    }
}

