

.artpiece {
    float: left;
    margin-top: 85px;
}
.descript {
    padding: 1%;
    margin-top: 85px;
    height: 200px;
    color: $menu-color;
    font-size: 1.1em;
    line-height: 1.5em;
    float:left;
    li{
        list-style: none;
    }
}

.text {
    padding: 1%;
    color: $menu-color;
    float: left;
    span {
        display:block;
        text-align: right;
    }
    p{
        a{
            color: $link-color;
            text-decoration: none;
        }
    }
}

.media {
    float:left;
    h2 {
      color: $menu-color;
      margin-left: 10%;
      margin-bottom: 2%;
    }
}



figure {
    height: 0;
    padding-bottom: 56.25%;
    position: relative;
    width: 100%;
}

iframe {
    height: 50%;
    width: 100%;
    left: 30%;
    top: 0;
    position: absolute;
}