h1 {
    color: $menu-color;
}

#map {
    width: 100%;
    height: 550px;
    border: 1px solid black;
}

@media (max-width: $tablet) {
    #map {
        width: 100vw;
        height: 100vh; 
    }
}

.two {
    color: $menu-color;
    font-size: 1em;
    line-height: 2em;
    ul {
        list-style: none;
        li{
            span{
                font-size: 1.5em;
            }
            a{
                color: white;
                &:hover{
                    color: rgb(150,150,150);
                }
                &:visited{
                    color: rgb(150,150,255);
                }
            }
        }
    }
}

@media (max-width: $mobile) {
    .two {
        padding: 3%;
        height: auto;
        font-size: 1rem;
        line-height: 2rem;
        ul {
            li{
                span{
                    font-size: 1.5rem;
                }
                a{
                    color: $link-color;
                }
            }
        }
    }
}

@media (min-width: ($mobile + 1px)) and (max-width: $tablet) {
    .two {
        padding: 3%;
        height: auto;
        font-size: 1em;
        line-height: 2em;
        ul {
            li{
                span{
                    font-size: 1.5em;
                }
                a{
                    color: $link-color;
                }
            }
        }
    }
}

.venue {
    height: 200px;
    width: 50%;
    border-bottom: 1px solid $menu-color;
    margin-bottom: 40px;
}

@media (max-width: $tablet) {
    .venue {
        height: auto;
    }
}

