section {
    overflow: hidden;
//    margin-top: 100px;
     .slider {
        list-style: none;
        height: 480px;
        width: 2971px;
        float: left;
        li {
//                      width: 329px;
        }
    }
}




.hidden {
    display: none;
}
.visible
{
    display: block;
}

@media (max-width:$mobile){
    .gallery {
        .slider {
          height: 4500px;
    //        width: 100%;
           .img{
               max-width: 100vw;
               display: block;
               clear: both;
               float:left;
               background-size: cover;
               background-repeat: no-repeat;
               img {
                  max-width: 100vw;
                   height: auto;
               }
           }
        } 
        .fa-chevron-circle-left{
            display: none;
        }
        .fa-chevron-circle-right{
            display: none;
        } 
    }
    
}

@media (min-width: ($mobile + 1px)) and (max-width: $tablet) {
    .gallery {
        position: relative;
         height: 4500px;
         margin-top: 50px;
        .fa-chevron-circle-left{
            display: none;
        }
        .fa-chevron-circle-right{
            display: none;
        }
        .slider {
            height: 480px;
            width: 5603px;
            .img{
           width: 50%;
           float: left;
           background-size: cover;
           background-repeat: no-repeat;
           img {
                width: 329px;
                height: 480px;
                }
            }
        }
        
    }
    
    
}

@media (min-width: ($tablet + 1px)) {
    .main_slider {
        margin-top: 3%;
       .gallery{
        .fa-chevron-circle-left{
            margin-top: 230px;
            position:absolute;
            left: 5%;
            z-index: 9;
        }
        .fa-chevron-circle-right{
            margin-top: 230px;
            position:absolute;
            right: 5%;
            z-index: 9;
        }
        .slider {
        left: 0;
        position: relative;
        float: left;
        height: 480px;
        width: 5603px;
        
           .img{
               float: left;
               width: 329px;
                   height: 480px;
               background-size: cover;
               background-repeat: no-repeat;
               img {
                   width: 329px;
                   height: 480px;
                    }
                }
            }  
        }    
    }
    
}

.img {
   
    a {
        position: relative;
        display: block;
        list-style: none;
        text-decoration: none;  
         .notes{
            bottom: 0;
            position: absolute;
            width: 100%;
            height: 250px;
            color: rgb(19,19,19);
            background-color: rgba(255, 255, 255, .5);
            font-size: 1.1em;
            padding: 2em;
             h2 {
                 text-align: left;
             }
             .object{
                 list-style: none;
             }
        }
    }
   
}

@media (min-width: ($mobile + 1px)) and (max-width: $tablet) {
    .img {
   
        a {
            .notes{
                bottom: 0;
                position: absolute;
                width: 100vw;
                height: 250px;
                color: rgb(19,19,19);
                background-color: rgba(255, 255, 255, .5);
                font-size: 1.1rem;
                padding: 2rem;
                text-align: right;
                 h2 {
                     text-align: right;
                 }
                 .object{
                     list-style: none;
                 }
            }
        }
   
    }
}
